.App h1 {
    text-align: center;
}

.App .Header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    min-height: 60px;
}

.App .Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container div {
    width: 100%;
    text-align: center;
}

.navLink,
.Container li {
    color: black;
    border-color: black;
    text-decoration: none;
    padding: 0;
}

.navLink {
    padding: 5px 15px;
    display: block;
}

.navLink,
.Container li:hover {
    color: black;
    border-color: black;
}

.Container .activeClass {
    padding: 5px 15px;
    display: block;
    color: red;
    border-color: black;
    text-decoration: none;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.formField {
    min-height: 62px;
}

.errorMessage {
    color: red;
}
